#cc > main > nav.right .databases {
  height: 100%;
  width: 300px;
  display: grid;
  grid-gap: 0;
  grid-template-rows: 1fr;
  grid-template-columns: 50px 1fr;
  grid-template-areas: "cc-main-nav-right-db-left cc-main-nav-right-db-right"; }
  #cc > main > nav.right .databases .db-left {
    grid-area: cc-main-nav-right-db-left;
    background-color: #222; }
    #cc > main > nav.right .databases .db-left ul li a {
      height: 50px; }
      #cc > main > nav.right .databases .db-left ul li a:hover, #cc > main > nav.right .databases .db-left ul li a.active {
        background-color: #030303; }
  #cc > main > nav.right .databases .db-right {
    grid-area: cc-main-nav-right-db-right;
    background-color: #1e1e1e; }
    #cc > main > nav.right .databases .db-right header {
      height: 50px;
      line-height: 45px;
      background-color: #111;
      border: 1px solid #000;
      color: #999; }
      #cc > main > nav.right .databases .db-right header i {
        background-color: #1e1e1e; }
      #cc > main > nav.right .databases .db-right header i:hover {
        cursor: pointer;
        background-color: #030303; }
