@import "../../../assets/css/partials/variables";

#cc > main > main #cc-workspace .ws-right > #cc-console-settings {
    height: 100%;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
    align-items: start;
    grid-template-areas:
        "cc-console-settings-nav cc-console-settings-main";

    & > nav {
        grid-area: cc-console-settings-nav;
        background-color: $bg-primary;
        height: 100%;
        li {
            padding-left: 10px;
            padding-right: 10px;
            height: 45px;
            line-height: 35px;
            &.uk-nav-header {
                background-color: $bg-default;
                color: $color-hover;
            }
            &:hover {
                background-color: $bg-hover;
            }
            &.active {
                background-color: $bg-hover;
            }
        }
    }

    & > main {
        height: 100%;
        grid-area: cc-console-settings-main;
        padding: 10px;
        background-color: darken($bg-default,5%);
    }
}