@import "../../../assets/css/partials/variables";
#cc > main > nav.right .databases {
    height: 100%;
    width: 300px;
    display: grid;
    grid-gap: 0;
    grid-template-rows: 1fr;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        "cc-main-nav-right-db-left cc-main-nav-right-db-right";
    .db-left {
        grid-area: cc-main-nav-right-db-left;
        background-color: $bg-default;
        ul {
            li {
                a {
                    height: 50px;
                    &:hover,&.active {
                        background-color: $bg-hover;
                    }
                }
            }
        }
    }
    .db-right {
        grid-area: cc-main-nav-right-db-right;
        background-color: $bg-primary;
        header {
            height: 50px;
            line-height: 45px;
            background-color: darken($bg-primary,5%);
            border: 1px solid darken($bg-primary,15%);
            color: $color-primary;
            i {
                background-color: $bg-primary;
                &:hover {
                    cursor: pointer;
                    background-color: $bg-hover;
                }
            }
        }
    }
}