#project-list-nav .project-list-project-name {
  color: #fafafa;
  font-size: 13px;
  line-height: 17px; }
  #project-list-nav .project-list-company-name {
    color: #666;
    font-size: 12px;
    line-height: 12px; }
  #project-list-nav .listed-main-project:hover {
    background-color: #161616;
    margin-left: -5px;
    padding-left: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }

#projects-dashboard #page-heading {
  background-color: #1e1e1e;
  color: #666;
  width: 100%;
  height: 80px;
  display: flex; }
  #projects-dashboard #page-heading h2 {
    color: #fafafa; }
  #projects-dashboard #page-content {
    padding: 15px; }
  #projects-dashboard #page-content #general-project-options-nav i {
    font-size: 20px;
    color: red; }
